include ../header.pug


section.wizard-wrapper.lime-grd-light.grid-x
	.cell.large-4.show-for-large.wizard-title
		h1.h2.strong.text-right Calculadora de Cuotas:
		h2.h3.strong.text-right Préstamo para Vehículos
	.cell.small-12.medium-12.large-8.wizard-container.grid-x
		.cell.wizard-header.grid-x
			.cell.wizard-controls
				a.back-arrow.button.bdo-link-btn(href="javascript:history.back()")
					i.icon-arro-left
			.cell.wizard-steps.grid-x
				ul.cell.shrink.grid-x.grid-margin-x
					li.cell.shrink: a.button.step.done(href="vehicular-s1.html") 1
					li.cell.shrink: a.button.step.current(href="vehicular-s2.html") 2
					li.cell.shrink: a.button.step.disabled(href="vehicular-s3.html") 3
					li.cell.shrink: a.button.step.disabled(href="vehicular-s4.html") 4
					li.cell.shrink: a.button.step.disabled(href="vehicular-s5.html") 5
			
			.cell.section-title
				h2.text-center Ingresos Mensuales
				.cell.wizard-bubble.flex-container.align-center
					.bubble.lift-up
						i.icon-wallet.leaf
		
		
		.cell.wizard-block.wizard-callout.padded.bubble-padd.text-center.lime-grd
			h4.strong ¿Es usted un buen pagador?
			p Con sus ingresos actuales más un buen record crediticio usted podría aspirar a una cuota máxima de:
		
		.cell.wizard-block.wizard-summary.padded.grid-x.align-center
			.cell.small-12.medium-8.grid-x.grid-margin-y
				.cell.grid-x.grid-padding-x.align-justify
					.cell.shrink
						span.key-label Vehículo Nuevo
					.cell.shrink
						span.key-label Ingresos: 29,000
				.cell.grid-x.grid-padding-x
					.cell.auto
						span.key-value.strong L520,000
						span.key-label.pale-moss Máximo Financiable
					.cell.auto
						span.key-value.leaf.strong L10,118.92
						span.key-label.forest Cuota Mensual
				.cell.grid-x.grid-padding-x
					.cell.shrink.text-center
						span.key-value.strong 12%
						span.key-label.pale-moss Interés
					.cell.shrink.text-center
						span.key-value.strong 10%
						span.key-label.pale-moss Prima
					.cell.shrink.text-center
						span.key-value.strong 6
						span.key-label.pale-moss Años

		.cell.wizard-block.padded.flex-container.align-center
			a.button.bdo-green-btn.wizard-action(href="vehicular-s3.html")
				i.icon-arrow-right

		include ../blocks/need-help-wizard.pug


section.billboard.flex-container.align-middle
	.billboard-cover
		img(src="img/stocks/valle.jpg", alt="Valle")
	.billboard-overlay
		h3.billboard-title.h2.text-shadow Apoyando al pequeño de hoy, hacemos el grande del mañana.
		a.button.bdo-orange-btn.large(href="page.html" title="Conozca Nuestra Historia") Nuestra Historia		

include ../footer.pug