.cell.wizard-block
			ul.accordion(data-accordion data-multi-expand="true" data-allow-all-closed="true")
				li.accordion-item(data-accordion-item)
					a.accordion-title(href="#") 
						i.icon-help.margin-r1x
						| ¿Necesita Ayuda?
					.accordion-content(data-tab-content)
						.grid-x.grid-margin-y.align-center
							.cell.small-12.medium-8
								p.text-center Llame a nuestro call center y nuestros agentes con gusto le atenderán:
							.cell.grid-x.grid-margin-y.align-center.small-12.medium-8
								a.cell.bdo-card.call-card.grid-x(href="tel:+50422279000")
									.card-title-overlay.cell.small-9.flex-container.flex-dir-column
										span.card-subtitle.pale-moss Call Center TGU
										span.card-title 2227-9000
									.call-icon-overlay.lime-grd.cell.small-3.flex-container.align-middle.align-center
										i.icon-call.white98
							
								a.cell.bdo-card.call-card.grid-x(href="tel:+5042545-000")
									.card-title-overlay.cell.small-9.flex-container.flex-dir-column
										span.card-subtitle.pale-moss Call Center SPS
										span.card-title 2545-7000
									.call-icon-overlay.lime-grd.cell.small-3.flex-container.align-middle.align-center
										i.icon-call.white98