section.related-content.grid-x.grid-padding-y.align-center
	.cell.descriptor.text-center
		h3 Banco de Occidente le protege:
		h4.pale-moss Consejos Financieros
	.cell.card-grid.grid-x.grid-margin-x.grid-margin-y
		a.cell.bdo-card.blog-card(href="page.html").small-12.medium-4
			article.grid-x
				figure.cell.blog-cover
					img(src="img/stocks/shop-online.jpg", alt="Comprando en Línea")
				.cell.card-title-blog
					h4 Compre con tranquilidad por internet: Consejos de seguridad en línea
		
		a.cell.bdo-card.blog-card(href="page.html").small-12.medium-4
			article.grid-x
				figure.cell.blog-cover
					img(src="img/stocks/driver.jpg", alt="Conductor Sonriendo")
				.cell.card-title-blog
					h4 El préstamo correcto para el carro correcto: Tips para comprar vehículos
		
		a.cell.bdo-card.blog-card(href="page.html").small-12.medium-4
			article.grid-x
				figure.cell.blog-cover
					img(src="img/stocks/shopping.jpg", alt="Mujer Sonriendo Compras")
				.cell.card-title-blog
					h4 5 Fáciles Consejos para evitar deudas con su tarjeta de crédito
	.cell.text-center
		a(href="edu-financiera.html").button.large.bdo-green-btn Más Artículos
