.cell.property-slider
	.orbit.bdo.gallery-slider(role='region', aria-label='Property Slider', data-orbit='', data-auto-play="true", data-swipe="true")
		.orbit-wrapper
			.orbit-controls
				button.orbit-previous
					span.show-for-sr Atrás
					i.icon-chevron-left
				button.orbit-next
					span.show-for-sr Siguiente
					i.icon-chevron-right
			ul.orbit-container
				li.is-active.orbit-slide.bdo
					figure.orbit-figure
						a(href="img/demo/elantra1.jpg")
							img.orbit-image(src='img/demo/elantra1.jpg', alt='')

				li.orbit-slide.bdo
					figure.orbit-figure
						a(href="img/demo/elantra1.jpg")
							img.orbit-image(src='img/demo/elantra2.jpg', alt='')
				
				li.orbit-slide.bdo
					figure.orbit-figure
						a(href="img/demo/elantra1.jpg")
							img.orbit-image(src='img/demo/elantra3.jpg', alt='')
				li.orbit-slide.bdo
					figure.orbit-figure
						a(href="img/demo/elantra1.jpg")
							img.orbit-image(src='img/demo/elantra4.jpg', alt='')
				li.orbit-slide.bdo
					figure.orbit-figure
						a(href="img/demo/elantra1.jpg")
							img.orbit-image(src='img/demo/elantra5.jpg', alt='')
				li.orbit-slide.bdo
					figure.orbit-figure
						a(href="img/demo/elantra1.jpg")
							img.orbit-image(src='img/demo/elantra6.jpg', alt='')
				li.orbit-slide.bdo
					figure.orbit-figure
						a(href="img/demo/elantra1.jpg")
							img.orbit-image(src='img/demo/elantra7.jpg', alt='')
.cell.property-thumbs
	ul.bdo.gallery-thumbs.grid-x.grid-margin-x.grid-margin-y
		li.cell.shrink
			a.thumb.swipebox(href="img/demo/elantra1.jpg")
				img(src="img/demo/elantra1.jpg", alt="")
		li.cell.shrink
			a.thumb.swipebox(href="img/demo/elantra2.jpg")
				img(src="img/demo/elantra2.jpg", alt="")
		li.cell.shrink
			a.thumb.swipebox(href="img/demo/elantra3.jpg")
				img(src="img/demo/elantra3.jpg", alt="")
		li.cell.shrink
			a.thumb.swipebox(href="img/demo/elantra4.jpg")
				img(src="img/demo/elantra4.jpg", alt="")
		li.cell.shrink
			a.thumb.swipebox(href="img/demo/elantra5.jpg")
				img(src="img/demo/elantra5.jpg", alt="")
		li.cell.shrink
			a.thumb.swipebox(href="img/demo/elantra6.jpg")
				img(src="img/demo/elantra6.jpg", alt="")
		li.cell.shrink
			a.thumb.swipebox(href="img/demo/elantra7.jpg")
				img(src="img/demo/elantra7.jpg", alt="")
		