include header.pug


section.error-404.grid-x.grid-padding-x.grid-padding-y
	.cell.art-404.small-12.medium-12.large-6.flex-container.align-center.align-middle
		img(src="img/bdo-404.svg", alt="Arte Error 404")
	.cell.error-info.small-12.medium-12.large-6.grid-x.align-middle
		.cell
			h1.h2 Página no encontrada
		.cell
			p Error 404: La página que usted busca no existe o la URL está mal escrita.
		.cell
			a.button.bdo-green-btn.large(href="home.html") Ir al Inicio
					
	
section.billboard.flex-container.align-middle
	.billboard-cover
		img(src="img/stocks/shop-online.jpg", alt="Compras en Línea")
	.billboard-overlay
		h3.billboard-title.h2.text-shadow ¿Compras por internet? Banco de Occidente le protege
		a.button.bdo-orange-btn.large(href="page.html" title="Ver Educación Financiera") Ver Consejos
		

include footer.pug