doctype html
html(lang='es')
	head
		meta(name='robots', content='noindex')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Banco de Occidente SA')
		meta(name='keywords', content='Keywords')
		title BDO UI | v1.0
		
		link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap', rel='stylesheet')


		link(rel='stylesheet', href='css/app.css')

		link(rel="icon" type="image/png" href="img/android-chrome-512x512.png" sizes="512x512")
		link(rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192")
		link(rel="icon" type="image/png" href="img/apple-touch-icon.png" sizes="180x180")
		link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
		link(rel="shortcut icon" href="img/favicon.ico")
		
	body
		main
			include announcement-callout.pug
			include menus/mobile-nav.pug
			include menus/desktop-nav.pug