include header.pug

header.generic-hero-header.faux-grd.flex-container.align-middle
	.cell
		h1.title.h2 Propiedades en Venta
	img.donut-deco(src="img/full-donut-lime.svg", alt="")


section.product-grid.grid-x
	.cell.grid-x.grid-margin-x
		a.cell.small-12.medium-6.large-4.bdo-card.photo-card.height-160(href="propiedades-feed.html")
			.card-title-overlay
				h3.card-title Vehículos
			.card-poster
				img(src="img/demo/elantra1.jpg", alt="")
		a.cell.small-12.medium-6.large-4.bdo-card.photo-card.height-160
			.card-title-overlay
				h3.card-title Casas
			.card-poster
				img(src="img/demo/casazul.jpg", alt="")
		a.cell.small-12.medium-6.large-4.bdo-card.photo-card.height-160
			.card-title-overlay
				h3.card-title Terrenos
			.card-poster
				img(src="img/demo/terreno.jpg", alt="")
		a.cell.small-12.medium-6.large-4.bdo-card.photo-card.height-160
			.card-title-overlay
				h3.card-title Edificios
			.card-poster
				img(src="img/demo/edificio.jpg", alt="")
		a.cell.small-12.medium-6.large-4.bdo-card.photo-card.height-160
			.card-title-overlay
				h3.card-title Bodegas
			.card-poster
				img(src="img/demo/bodega.jpg", alt="")
		a.cell.small-12.medium-6.large-4.bdo-card.photo-card.height-160
			.card-title-overlay
				h3.card-title Locales
			.card-poster
				img(src="img/demo/local.jpg", alt="")
		a.cell.small-12.medium-6.large-4.bdo-card.photo-card.height-160
			.card-title-overlay
				h3.card-title Otros
			.card-poster
				img(src="img/demo/tv.jpg", alt="")
		
		


section.billboard.flex-container.align-middle
	.billboard-cover
		img(src="img/stocks/valle.jpg", alt="Valle")
	.billboard-overlay
		h3.billboard-title.h2.text-shadow Apoyando al pequeño de hoy, hacemos el grande del mañana.
		a.button.bdo-orange-btn.large(href="page.html" title="Conozca Nuestra Historia") Nuestra Historia
		

include footer.pug